html{
    height: 100%;
    width: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 480px){

    .maincontainer{
        height: 100%;
        background-color: rgb(236, 242, 248);
    }


}