@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
html{
    height: 100%;
    width: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}
@media only screen and (max-width: 480px){

    .maincontainer{
        height: 100%;
        background-color: rgb(236, 242, 248);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .postcard{
        width: 70%;
    }


}